body {
    font-family: Helvetica;
    text-align: center;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: salmon;
}

p {
    color: black;
    opacity: 50%;
}